APP_NAME="Shop Thời Trang"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

LOG_CHANNEL=null

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=shopping
DB_USERNAME=shopping
DB_PASSWORD=shopping123

FILESYSTEM_DISK=public

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
